<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Markdown Editor</title>

  <!-- Vendors -->
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">

  <!-- App Styles -->
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-cloak-auth class="hide">

  <div ng-include="'partials/nav.html'"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" ng-if="$route.current.$$route.authRequired" class="connected-users-col" ng-controller="UsersCtrl" ng-show-auth="login">
        <ul class="list-group">
          <li class="list-group-item" ng-click="openUsers = !openUsers">
            <span class="badge">{{ (users | orderByPriority | connectedUsers ).length }}</span>
            <strong> USERS ONLINE :  </strong>
          </li>
          <li class="list-group-item"
              ng-show="openUsers"
              ng-class="{'list-group-item-success' : $location.url() == thisUser.url}"
              ng-repeat="thisUser in users | orderByPriority | connectedUsers">
            <div gravatar="thisUser.email" class="gravatar-small gravatar-small-left"></div>
            <strong>{{ thisUser.email == auth.user.email ? 'You ❤' : thisUser.username }}</strong><small style="font-size: 75%; color: #919191;"> {{ thisUser.email }} </small> <br>
            <small style="font-size: 75%;"> @  <a href="#{{thisUser.url}}">{{ thisUser.url }}</a> </small>
          </li>
        </ul>
      </div>

      <div ng-class="{'col-xs-12' : $route.current.$$route.authRequired != true , 'col-xs-12' : $route.current.$$route.authRequired } "ng-view id="top-ng-view"></div>

    </div>
  </div>

  <!-- Vendors -->
  <!-- build:js js/vendors.min.js -->
  <!-- Jquery -->
  <script src="components/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="components/bootstrap/dist/js/bootstrap.js"></script>

  <!-- Showdown -->
  <script src="components/showdown/compressed/showdown.js"></script>
  <script src="components/showdown/compressed/extensions/github.js"></script>

  <!-- Lodash -->
  <script src="components/lodash/dist/lodash.js"></script>

  <!-- Firebase -->
  <script src="components/firebase/firebase.js"></script>
  <script src='components/firebase-simple-login/firebase-simple-login.js'></script>
  <!-- endbuild -->

  <!-- AngularJs vendors -->
  <!-- build:js(.tmp) js/ng-vendors.min.js -->
  <script src="components/angular/angular.js"></script>
  <script src="components/angular-route/angular-route.js"></script>
  <script src="components/angularfire/angularfire.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.js"></script>
  <script src="components/angular-markdown-directive/markdown.js"></script>
  <script src="components/angular-md5/angular-md5.js"></script>
  <!-- endbuild -->

  <!-- App Source -->
  <!-- build:js(.tmp) js/scripts.min.js -->
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/services.js"></script>
  <script src="js/service.login.js"></script>
  <script src="js/service.firebase.js"></script>
  <script src="js/module.waitForAuth.js"></script>
  <script src="js/module.routeSecurity.js"></script>
  <!-- endbuild -->

</body>
</html>
